.navs {
	background-color: black;
	overflow: hidden;
}

.navs a.active {
	color: white;
	background-color: maroon;	
}

.navs a:hover {
	color: white;
	background-color: black;
}


.navs a {
	float: left;
	color: grey;
	text-align: center;
	padding: 20px;
	text-decoration: none;
	font-size: 30px;	
}
